<div id="<%= dom_id route %>">
  
  <p>
    <strong>Id</strong>
    <%= route.id %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= route.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= route.ends_at %>
  </p>

  <p>
    <strong>Travel time:</strong>
    <%= route.travel_time %>
  </p>

  <p>
    <strong>Total stops:</strong>
    <%= route.total_stops %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= route.organization_id %>
  </p>

  <p>
    <strong>Driver:</strong>
    <%= route.driver_id %>
  </p>

  <p>
    <strong>Vehicle:</strong>
    <%= route.vehicle_id %>
  </p>

</div>
