<div id="<%= dom_id driver %>">
  
  <p>
    <strong>Name:</strong>
    <%= driver.id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= driver.name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= driver.last_name %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= driver.organization_id %>
  </p>

</div>
